///////////////////////////////////////
///////////base styles/////////////////
///////////////////////////////////////////////////////////////

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  //////////////////////////////social media card top border color////////////////////
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  //////////////////////////////theme colors/////////////////////////////////////////
  --background: hsl(0, 0%, 100%);
  --top-background-pattern: hsl(225, 100%, 98%);
  --card-background: hsl(227, 47%, 96%);
  --card-hover: hsl(232, 33%, 91%);
  --text-primary: hsl(230, 17%, 14%);
  --text-secondary: hsl(228, 12%, 44%);
  --toggle-color: hsl(230, 22%, 74%);
}

[theme="dark"] {
  --background: hsl(230, 17%, 14%);
  --top-background-pattern: hsl(232, 19%, 15%);
  --card-background: hsl(228, 28%, 20%);
  --card-hover: hsl(227, 26%, 27%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(228, 34%, 66%);
  --toggle-color: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;

}

body {
  background-color: var(--background);
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media only screen and (max-width: 716px){
    justify-content: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 10rem;

  @media only screen and (max-width: 716px){
    max-width: 140rem;
    padding: 0 5rem;
  }
}

.number{
  &-increase{
    color: var(--lime-green);
  }

  &-decrease{
    color: var(--bright-red);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--text-primary);
}

.attribution a {
  color: var(--text-secondary);
}
