.card {
  width: 25rem;
  max-width: 100%;
  padding: 2.5rem;
  margin: 1rem 0;
  background-color: var(--card-background);
  border-radius: 0.5rem;
  min-height: 8.7rem;
  color: var(--text-secondary);
  position: relative;
  font-weight: 700;
  cursor: pointer;

  &:hover{
    background-color: var(--card-hover);
  }

  @media only screen and (max-width: 716px){
    width: 100%;
    
  }
}
